{% extends 'temp/police.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body><center><h1>CRIME REPORT</h1><BR><br><br>
<table border="1">
	<tr>
        <th>NAME</th>
		<th>PHONE</th>
		<th>LOCATION</th>
		<TH>COMPLAINT</TH>
		<th>PHOTO</th>
		<th>DATE</th>
		<th>TIME</th>
        <th>STATUS</th>
	</tr>
    {% for i in x %}
	<tr>
		<td>{{ i.name }}</td>
		<td>{{ i.phone }}</td>
		<td>{{ i.location }}</td>
		<td>{{ i.complaint }}</td>
		<td><img src="/static/{{ i.photo }}" height="50" width="50"></td>
		<td>{{ i.date }}</td>
		<td>{{ i.time }}</td>
        <td>{{ i.status }}</td>

		<td><a href="{% url 'rs' idd=i.c_id %}">RESPONSE</a></td>
	</tr>
    {% endfor %}

</table></center>
</body>
</html>
{% endblock %}