{% extends 'temp/user.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body><CENTER>
<h1>MISSING PERSONS</h1>
<table border="1">
	<tr>
		<th>PERSON NAME</th>
		<th>AGE</th>
		<th>ADDRESS</th>
		<th>GENDER</th>
		<th>PHOTO</th>
	</tr>
    {% for i in x %}
	<tr>
		<td>{{ i.name }}</td>
		<td>{{ i.age }}</td>
		<td>{{ i.address }}</td>
		<td>{{ i.gender }}</td>
		<td><img src="/static/{{ i.photo }}" height="50" width="50"></td>
{#		<td><a href="3">VERIFY</a></td>#}
	</tr>
    {% endfor %}

</table></CENTER>
</body>
</html>
{% endblock %}