{% extends 'temp/admin.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<center><h1>MANAGING POLICE STATION</h1><BR><br>
<table border="1">
	<tr>
		<th>NAME</th>
		<th>LOCATION</th>
        <th>PHONE</th>
        <th>STATUS</th>
	</tr>
    {% for i in x %}
	<tr>
		<td>{{ i.name }}</td>
		<td>{{ i.location }}</td>
		<td>{{ i.username }}</td>
		<td>{{ i.status }}</td>

		<td><a href="/police_registration/ apr/{{ i.pr_id }}">APPROVE</a></td>
        <td><a href="/police_registration/ rjt/{{ i.pr_id }}" >REJECT</a></td>
	</tr>
    {% endfor %}

</table>
</center>
</body>
</html>
{% endblock %}